body{
    margin: 20px;
    background-color: #fefefe;
    align-items: baseline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main-container{
    display: flex;
    gap: 20px;
}
#text-box{
    width: 98%;
    text-decoration: none;
    outline: none;
    border: 2px solid transparent;
    resize: none;
    background-color: #f0f0f0;
    max-lines: 2;
    overflow: hidden;
    font-size: 1.4em;
    line-height: 1.2em;line-height: 1.5em;
    border: solid #f0f0f0 1px;
    box-shadow: 3px 3px 5px #929191;
    height: 100px;
}
#text-container{
    flex: 1 1.2 50%;
    padding: 10px;
}



#task-container{
    flex: 1.2 1 50%;
    background-color: #f0f0f0;
    border: solid #f0f0f0 1px;
    box-shadow: 3px 3px 5px #929191;
    padding: 10px;
}

#task-list{
    list-style: none;
    padding-left: 20px;
    line-height: 2em;
    
}

li{
    border-bottom: #929191 1px solid;
    display: flex;
    justify-content: space-between;
}

.delete{
    outline: none;
    border: none;
    background-color: #f0f0f0;
}

.delete:hover{
    background-color: #fefefe;
}
.checkedList{
    text-decoration-line: line-through;
}