body{
    margin: 20px;
    background-color: #fefefe;
    align-items: baseline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(./Image/white-textured-background.jpg);
    background-size:auto;
    background-repeat: no-repeat;
}

#main-container{
    display: flex;
    gap: 20px;
}
#text-box{
    width: 98%;
    text-decoration: none;
    outline: none;
    border: 2px solid transparent;
    resize: none;
    background-color: #f0f0f0;
    max-lines: 2;
    overflow: hidden;
    font-size: 1.4em;
    line-height: 1.2em;line-height: 1.5em;
    border: solid #f0f0f0 1px;
    box-shadow: 3px 3px 5px #929191;
    height: 100px;
    margin: 0 auto;
}
#text-container{
    flex: 1 1.2 50%;
    padding: 10px;
    box-sizing: border-box;
}



#task-container{
    flex: 1.2 1 50%;
    background-color: #f0f0f0;
    border: solid #f0f0f0 1px;
    box-shadow: 3px 3px 5px #929191;
    padding: 10px;
    max-height: 90vh;
    overflow: scroll;
    box-sizing: border-box;
}

#task-list{
    list-style: none;
    padding-left: 20px;
    line-height: 2em;
    
}

li{
    border-bottom: #929191 1px solid;
    display: flex;
    justify-content: space-between;
}

.delete{
    outline: none;
    border: none;
    background-color: #f0f0f0;
    text-decoration-line: none !important;
}

.delete:hover{
    background-color: #fefefe;
}
.checkedList{
    text-decoration-line: line-through;
}

@media screen and ( max-width : 561px) {
    #main-container{
        flex-direction: column;
    }
    #StringEmptyPopup{
        left:10vw;
    }
    #task-container{
        max-height: 70vh;
    }
}

.pencile{
    width:  15px;
    height: 15px;
}

.text{
    flex-shrink: 2;
    width: 100%;
    overflow: hidden;
    overflow-wrap: anywhere;
}

.buttonDivContainer{
    flex: 0 0 90px;
    align-self: flex-end;
}


#StringEmptyPopup{
    position: fixed;
    top: 30vh;
    margin: auto auto;
    background-color: #1d3557;
    color: #f1faee;
    padding: 20px;
    width:230px;
    height: 130px;
    z-index: 100;
    left: calc(45vw - 105px);
}

#popup-button{
    outline: none;
    border: none;
    width: 70px;
    height: 30px;
    background-color: #e07a5f;
    color: #edf6f9;
    font-weight: 600;
}


#blurFilm{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #a8dadc;
    top: 0;
    left: 0;
    z-index: 50;
    opacity: 50%;
    color: whitesmoke;
}


.visibility-collapse{
    visibility: collapse;
}

.renameInput{
    width: 90%;
}
.renameInput:focus{
    outline: none;
    border: none;
    background-color: #f0f0f0;
}